<div id = "show_sticky">
  <div id = "show_sticky_upper_part">
    <span id = "close_button">&times;</span>
  </div>

  <div id = "left_part_show_sticky">
    <!-- show the image of the sticky-->
    <!-- show the img element with the width and height attributes calculated dynamically-->
    <img src="https://imgpic.org/upload/images/287d4279-ff61-b2c6-637e-5972ecc8f5c5.jpg" id = "sticky_image_show_sticky">
  </div>

  <div id = "right_part_show_sticky">
    <div id = "uploader_details_show_sticky">
      <span id = "Uploader_image_show_sticky">
      <!-- get the uploader_image from the server and set it here. Default width and height are 20 and 20, but the image stored in the server is 150 by 150 with reduced quality-->
        <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" id = "uploader-image" width=50px height = 50px>
      </span>
      <span id = "uploader_name_show_sticky"> name of the uploader
      </span>
    </div>

    <div id = "sticky_title_show_sticky">
      name of the sticky
    </div>

    <div id = "sticky_description_show_sticky">
       This part contains the description of the sticky -->
    </div>

    <div id = "user_review">
      <div id = "review_name">Your review</div>

      <div class="ratings">
        <i class="fa fa-smile-o" aria-hidden="true"></i>
        <i class="fa fa-meh-o" aria-hidden="true"></i>
        <i class="fa fa-frown-o" aria-hidden="true"></i>
        <span id = "submit_ratings">Submit</span>
      </div>

    </div>
  </div>
</div>
